- model_class = CadastroFacebook
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:senha)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @cadastro_facebooks.each do |cadastro_facebook|
      %tr
        %td= link_to cadastro_facebook.id, cadastro_facebook_path(cadastro_facebook)
        %td= cadastro_facebook.email
        %td= cadastro_facebook.senha
        %td=l cadastro_facebook.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_cadastro_facebook_path(cadastro_facebook), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), cadastro_facebook_path(cadastro_facebook), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_cadastro_facebook_path, :class => 'btn btn-primary'
