= simple_form_for @cadastro, :html => { :class => 'form-horizontal' } do |f|
  = f.input :nome
  = f.error_span :nome
  = f.input :email
  = f.error_span :email
  = f.input :dataNascimento
  = f.error_span :dataNascimento
  = f.input :senha
  = f.error_span :senha
  = f.input :confirmeSenha
  = f.error_span :confirmeSenha
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), cadastros_path, :class => 'btn btn-default'
