= simple_form_for(@comercio) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :endereco, label: "Endereço"
    = f.input :tipo
    = f.input :tefefone, label: "Telefone"

  .form-actions
    = f.submit "Salvar"
