%p#notice= notice

%p
  %b Alimentação:
  = @avaliacao.alimentacao
%p
  %b Atendimento:
  = @avaliacao.atendimento
%p
  %b Ambiente:
  = @avaliacao.ambiente
%p
  %b Comercio:
  = @avaliacao.comercio.nome

= link_to 'Edit', edit_avaliacao_path(@avaliacao)
\|
= link_to 'Back', avaliacaos_path
