= simple_form_for(@usuario) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :email
    = f.input :DataNascimento, label: "Data Nascimento"
    = f.input :senha
    = f.input :ConfirmeSenha, label: "Confirme Senha"

  .form-actions
    = f.submit "Salvar"
