%h1 Listing usuarios

%table
  %thead
    %tr
      %th Nome
      %th Email
      %th Datanascimento
      %th Senha
      %th Confirmesenha
      %th
      %th
      %th

  %tbody
    - @usuarios.each do |usuario|
      %tr
        %td= usuario.nome
        %td= usuario.email
        %td= usuario.DataNascimento
        %td= usuario.senha
        %td= usuario.ConfirmeSenha
        %td= link_to 'Show', usuario
        %td= link_to 'Edit', edit_usuario_path(usuario)
        %td= link_to 'Excluir', usuario, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Usuario', new_usuario_path
