- model_class = CadastroComercio
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:nome) + ':'
  %br
  = @cadastro_comercio.nome
%p
  %strong= model_class.human_attribute_name(:tipo) + ':'
  %br
  = @cadastro_comercio.tipo
%p
  %strong= model_class.human_attribute_name(:endereco) + ':'
  %br
  = @cadastro_comercio.endereco
%p
  %strong= model_class.human_attribute_name(:telefone) + ':'
  %br
  = @cadastro_comercio.telefone
%p
  %strong= model_class.human_attribute_name(:avaliacao) + ':'
  %br
  = @cadastro_comercio.avaliacao


= link_to t('.back', :default => t("helpers.links.back")), cadastro_comercios_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_cadastro_comercio_path(@cadastro_comercio), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), cadastro_comercio_path(@cadastro_comercio), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
